{% extends "base.html" %}
{% block title %}AI | Michael Davis{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/dist/ai.css"></link>
    <script src="/dist/aiwalkthrough/{{mod}}/state.js"></script>
    <script src="/dist/aiwalkthrough/aengine.js"></script>
    {% if mod == "local" %}
        <script src="/dist/priority-queue.min.js"></script>
        <script src="/dist/randompolygons/javascript/rpg.js"></script>
    {% endif %}
{% endblock %}

{% block body %}

<h1>{{ content.title }}</h1>

<hr>

<svg id="aegus" width="100%" height="500px"></svg>

<a onclick="aengine.next();">Next</a>
<br>
<a onclick="aengine.reset();">Reset</a>
<br>
<a onclick="aengine.solve();">Solve</a>

<hr>

<p>{{ content.content }}</p>

{% endblock %}
