<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="apple-touch-icon" sizes="180x180" href="/dist/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/dist/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/dist/favicons/favicon-16x16.png">
        <link rel="manifest" href="/dist/favicons/manifest.json">
        <link rel="mask-icon" href="/dist/favicons/safari-pinned-tab.svg" color="#da532c">
        <link rel="shortcut icon" href="/dist/favicons/favicon.ico">
        <meta name="msapplication-config" content="/dist/favicons/browserconfig.xml">
        <meta name="theme-color" content="#333333">

        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link href="/dist/main.css" rel="stylesheet">
        <link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.2/d3.min.js"></script>
        <script media="screen and (min-device-width: 800px)" src="/dist/glasspane.js" type="text/javascript"></script>
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}

    </head>
    <body>
        <svg id="glasspane"></svg>
        <nav>
            <a href="/">Me</a>
            <h1>Michael Davis</h1>
            <a href="/projects">Projects</a>
            <a href="/sites">Sites</a>
        </nav>
        <div id="glass" class="col-md-7">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>
