{% extends "sitebase.html" %}
{% block title %}Data Representation{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/dist/data.css" rel="stylesheet"> 
{% endblock %}

{% block body %}
<body>
    <h2>My Course Load</h2>
    <svg id="classes" class="writing" width="100%" height="700px">
    </svg>
    <div id="description"></div>
    <p>This basic table shows my past, current, and expected course
    load for my three years at the University of Miami. Click on any
    course to see its prerequisites and description.</p>
<script src="/dist/data.js"></script>
</body>
{% endblock %}
