{% extends "sitebase.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/dist/sitemain.css" rel="stylesheet"> 
{% endblock %}

{% block body %}
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Michael Davis</a>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#me">Me</a></li>
                    <li><a href="#school">School</a></li>
                    <li><a href="#programming">Prgramming</a></li>
                    <li><a href="#thiswebsite">This Website</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>    
<div class="col-xs-0 col-sm-1 col-md-2"></div>
<div class="col-xs-12 col-sm-10 col-md-8">
    <div id="me" class="container-fluid section">
        <div id="content-0" class="writing">
        <h1>Me</h1>
        <p>I'm Michael Davis. In my free time, I like to foil fence, play guitar, surf Stack Overflow, and play Super Smash Bros. with friends.
        I'm a fan of non-fiction books, and a downright cinephile. I love mechanical keyboards and Vim.
         I guess you could call me a little old school.</p>
        <p>Scroll down and keep pushing that ball across the page to hear more.</p>
        </div>
    </div>
    <div id="school" class="container-fluid section">
        <div id="content-1" class="writing">
        <h1>School</h1>
        <p>I'm in my second year at the University of Miami in Coral Gables, FL, working for a Bachelor's degree Computer Science 
        and a minor in Interactive Media. Because of AP credits, I'll graduate at the end of my third year, in 2019.</p>
        <p>I plan to pursue at least a Master's degree, which I can complete in an additional year (by 2020).
        However, in order to professor during retirement, I may pursue a PhD.</p>
        </div>
    </div>
    <div id="programming" class="container-fluid section">
        <div id="content-2" class="writing">
        <h1>Programming</h1>
        <p>While most of my formal training has been in Java, I am most experienced with JavaScript, 
        including ES6+, major libraries like jQuery, d3.js and p5.js, and asynchronous programming.</p>
        <p>I am also familiar with, in order of degree of familiarity (from most to least): 
        HTML, Bash (including Git), Python, CSS, Latex, and C.</p>
        </div>
    </div>
    <div id="thiswebsite" class="container-fluid section">
        <div id="content-3" class="writing">
        <h1>This Website</h1>
        <p>This website was created using common industry libraries: Bootstrap, jQuery, and d3.js. 
        The colors of the sections are from the ColorBrewer "Spectral" scale.
        All of my web-pages share a self-built web-app, which is run by the Node.js framework and served by Express.
        Static pages are served by a(n) nginx reverse proxy, which uses efficient caching to make this webpage quick.</p>
        <p>Click on the ball again to go to the next page.</p>
        </div>
    </div>
</div>
<div class="col-xs-0 col-sm-1 col-md-2"></div>
<script src="/dist/home.js"></script>
</body>
{% endblock %}
