{% extends "base.html" %}
{% block title %}Knowledge | Michael Davis{% endblock %}
{% block head %}
{{ super() }}
<link href="/dist/knowledge.css" rel="stylesheet">
{% endblock %}

{% block body %}

<h1>Things I Know</h1>
<hr id="green">
<ul>
    <li>Java</li>
    <li>Inheritance</li>
    <li>Polymorphism</li>
    <li>Threading</li>
    <li>JavaScript</li>
    <li>ECMAScript 6+</li>
    <li>d3.js</li>
    <li>p5.js</li>
    <li>jQuery</li>
    <li>Bootstrap</li>
    <li>Ajax</li>
    <li>DOM Manipulation</li>
    <li>SVG</li>
    <li>HTML5 Canvas</li>
    <li>Node.js</li>
    <li>nodemon</li>
    <li>Express</li>
    <li>npm</li>
    <li>Babel (transpiler)</li>
    <li>Vim</li>
    <li>Vundle</li>
    <li>Tmux</li>
    <li>git</li>
    <li>GitHub</li>
    <li>nmap</li>
    <li>netcat</li>
    <li>traceroute</li>
    <li>SSH</li>
    <li>Unix File Systems</li>
    <li>fail2ban</li>
    <li>iptables</li>
    <li>nginx</li>
    <li>Flask (Python)</li>
    <li>HTML Templating</li>
    <li>CSS</li>
    <li>CSS media queries</li>
    <li>Processing</li>
    <li>Arduino</li>
    <li>C</li>
    <li>Shell Programming</li>
    <li>Stack Overflow</li>
    <li>gzip compression</li>
    <li>tarballs</li>
    <li>SSL Certificates</li>
    <li>CertBot</li>
    <li>cron jobs</li>
    <li>Common network ports</li>
    <li>Basic TCP</li>
    <li>HEIST network attacks</li>
    <li>RESTful applications</li>
    <li>The Web API</li>
    <li>Web File API</li>
    <li>Markdown</li>
    <li>TeXmaker</li>
    <li>State Diagrams</li>
    <li>Basic Computer Architecture</li>
    <li>Dvorak Touch Typing (~75 wpm)</li>
    <li>Mechanics (Physics)</li>
    <li>How to install Linux</li>
    <li>The apt(-get) package manager</li>
    <li>Homebrew</li>
    <li>MongoDB</li>
    <li>tor</li>
    <li>torsocks (torrify)</li>
    <li>init.d</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<hr>

<h1>Things I Want to Know</h1>
<hr id="gold">
<ul>
    <li>Haskell</li>
    <li>JSON Encryption</li>
    <li>HTTP Version 2</li>
</ul>
<hr>

<h1>Things I Probably Won't Know</h1>
<hr id="red">
<p>This list is not exhaustive. Also, I may very well end up learning some of
these if the conditions are right.</p>
<ul>
    <li></li>
</ul>
<hr>

{% endblock %}
