{% extends "base.html" %}
{% block title %}Knowledge | Michael Davis{% endblock %}
{% block head %}
{{ super() }}
<link href="/dist/knowledge.css" rel="stylesheet">
{% endblock %}

{% block body %}

<h1>Things I Know</h1>
<hr id="green">
<ul>
    {% for item in knowledge.know %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>
<br>

<h1>Things I Want to Know</h1>
<hr id="gold">
<ul>
    {% for item in knowledge.want %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>
<br>

<h1>Things I Probably Won't Know</h1>
<hr id="red">
<p>This list is not exhaustive. Also, I may very well end up learning some of
these if the conditions are right.</p>
<ul>
    {% for item in knowledge.not %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>
<br>
<p>Are all of these items hard-coded in? No way! I use
<a target="_blank" href="https://mozilla.github.io/nunjucks/templating.html#for">Nunjucks
templating</a>.</p>

{% endblock %}
