<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.2/d3.min.js">
        </script>

        <script type="text/javascript">
window.margin = {left: 60, right: 20, top: 20, bottom: 30};
        </script>

        <script src="/dist/me.js" type="text/javascript"></script>

        <link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
        <title>Languages | Michael Davis</title>
<style>
html, body {
    min-width: 1600px;
    min-height: 900px;
}

* {
    font-size: 20px;
    font: 'hack', monospace;
}
</style>
    </head>

    <body>
        <svg id="barchart" width="100%">
        </svg>
    </body>
</html>
