{% extends "base.html" %}
{% block title %}Projects | Michael Davis{% endblock %}
{% block head %}
    {{ super() }}
    <link href="dist/projects.css" rel="stylesheet">
{% endblock %}

{% block body %}
<h2><a class="large" href="/projects/attendance">
        Headless Stack Overflow Daily Attendance</a></h2>
<br>
<p>Stack Overflow awards a gold badge for checking into the site for 100 days in
a row. I wrote a simple script which uses the phantom.js headless browser to
log in and read the progress of the badge. Then I set this script up to run every
day.</p>
<hr>
<h2><a class="large" href="/projects/webdb">
        Use MongoDB in Express Middleware to Store Node.js Website Traffic</a></h2>
<br>
<p>While I don't really need to store any information about the site, I wanted
some MongoDB experience. This middleware allows me to log your info to my
database!</p>
<hr>
{% endblock %}
