{% extends "base.html" %}
{% block title %}Sites | Michael Davis{% endblock %}
{% block head %}
{{ super() }}
<link href="dist/sites.css" rel="stylesheet">
{% endblock %}

{% block body %}
<h2>This Site</h2>
<br>
<ul>
    <li><b>Front-End</b>: D3.js, Bootstrap (CSS only), hack-font.</li>
    <li><b>Back-End</b>: Node.js, Express, Nunjucks (html templates), serve-favicon.</li>
    <li>This site runs on an old computer that I don't use anymore, which is
        running Elementary OS.</li>
</ul>
<hr>
<h2>These sites</h2>
<br>
<p>These sites are little example sites that I threw together to practice
web design.</p>
<br>
<ol>
    <li><a href="/sites/home">Home (an alternate homepage)</a></li>
    <li><a href="/sites/data">Data (some interactive data stuff)</a></li>
    <li><a href="#">BS (coming soon)</a></li>
</ol>
{% endblock %}
