[submodule "personal/static/dist/blackjack"]
	path = personal/static/dist/blackjack
	url = git@github.com:the-mikedavis/blackjack.git
[submodule "personal/static/dist/raster"]
	path = personal/static/dist/raster
	url = git@github.com:the-mikedavis/raster.git
[submodule "personal/static/dist/randompolygons"]
	path = personal/static/dist/randompolygons
	url = git@github.com:the-mikedavis/randompolygons.git
