* {
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
/*    border: 1px solid black;*/
}

.body {
    text-align: center;
    margin: 400px 0;
    padding-bottom: 10px;
    height: auto;
    width: auto;
    background-color: rgba(56,56,56,.75);
}

h1 {
    color: ivory;
    font-family: 'Amita', cursive;
    font-size: 80px;
}

a {
    color: ivory;
    font-family: 'Philosopher', sans-serif;
    font-size: 40px;
}

a:hover {
    color: deeppink;
    animation: ease;
}

html {
    background: url(assets/MonetLilies.JPG) no-repeat top center;
    background-size: cover;
}