* {
    color: black;
}

html {
    background: url("assets/Header2.JPG") no-repeat top center;
}

.info {                         /*Container for the body of the page*/
    background-color: rgba(255, 255, 255, 0.95);
    padding: 100px 200px 200px 200px;
    display: block;
    position: relative;
    width: auto;
    text-align: center;
}

.navigation {
    border-bottom: 1px solid crimson;
    background-color: white;
}

.navigation a {
    color: black;
}

.navigation a:hover {
    color: crimson;
}

#logo {
    color: crimson;
}

.paragraphs {
    padding: 50px 0;
    margin: 50px 0;
    text-align: left;
}

.tiles {
    border: 1px solid crimson;
    padding: 25px 80px;
    margin: 50px 50px;
}

h2 {
    text-align: left;
    font-family: 'Megrim', cursive;
    font-size: 60px;
/*    padding: 25px 0;*/
}

.classes {
/*    padding: 25px 100px;*/
    margin: 20px 0;
    text-align: left;
}

.semesters {
    font-family: 'Megrim', cursive;
    font-size: 60px;
    padding-top: 50px;
    color: crimson;
}
