* {
    color: ivory;
}

html {
    background: url("assets/Header3.JPG") no-repeat center center;
}

.torso {                                      /*Container for the body info of the page*/
    background-color: rgba(56, 56, 56, 0.95);
    padding-bottom: 200px;
    display: block;
    position: relative;
    width: auto;
    text-align: center;
}

#navigation {
    border-bottom: 1px solid gold;
    background-color: rgb(56,56,56);
}

#navigation a {
    color: ivory;
}

#navigation a:hover {
    color: gold;
}

#logo {
    color: gold;
}

#infoparagraph {
    padding: 100px 50px;
}

.links {
    padding: 30px 50px;
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 50;
}

.links a {
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255,215,0,0.8);
    border-radius: 10px;
    color: rgba(255,215,0,0.8);
    display: inline-block;
    margin: 10px 40px;
    padding: 10px 70px;
    text-decoration: none;
}

.links a:hover {
    background: rgba(255,215,0,0.8);
    border: 1px solid rgba(255,215,0,0.8);
    color: rgba(56, 56, 56, 0.9);
    animation: ease;
}
