* {
    color: black;
}

#navigation {
    border-bottom: 1px solid navy;
    background-color: white;
}

#navigation a {
    color: black;
}

#navigation a:hover {
    color: navy;
}

#logo {
    color: navy;
}

html {
    background: url("assets/Header0.JPG") no-repeat center center;
}

p, .aboutme a {                 /*This controls content like paragraphs and the about me element*/
    max-width: auto;
    min-width: 300px;
    margin: 0px 100px;
    display: block;
    padding: 80px 0;
}

.info-headers {
    font-family: 'Megrim', cursive;
    font-size: 70px;
    text-align: center;
    padding-top: 40px;
    color: navy;
}

.links {
    padding: 30px 50px;
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 50;
}

.links a {
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0,0,128,0.8);
    border-radius: 10px;
    color: rgba(0,0,128,0.8);
    display: inline-block;
    margin: 10px 10px;
    padding: 10px 70px;
    text-decoration: none;
}

.links a:hover {
    background: rgba(0,0,128,0.8);
    border: 1px solid rgba(0,0,128,0.8);
    color: rgba(255, 255, 255, 0.9);
    animation: ease;
}

.languages {
    min-width: 500px;
}

.language-headers {
    font-family: 'Megrim', cursive;
    font-size: 50px;
    text-align: left;
    padding-top: 20px;
    padding-left: 200px;
    width: auto;
    color: navy;
}

.languages p {
    padding-top: 30px;
    padding-bottom: 50px;
}

.body-info {
    background-color: rgba(255, 255, 255, 0.95);
    padding-bottom: 200px;
}
