* {
    color: ivory;
}

html {
    background: url("assets/Header1.JPG") no-repeat center center;
}

.projects { /*Container for the projects and body of the page*/
    background-color: rgba(56, 56, 56, 0.95);
    padding-bottom: 200px;
    display: block;
    position: relative;
    width: auto;
    text-align: center;
}

#navigation {
    border-bottom: 1px solid darkolivegreen;
    background-color: rgb(56,56,56);
}

#navigation a {
    color: ivory;
}

#navigation a:hover {
    color: darkolivegreen;
}

#logo {
    color: darkolivegreen;
}

.tile {
    background-color: rgb(56,56,56);
    width: 500px;
    height: 600px;
    display: inline-block;
    border: 2px solid darkolivegreen;
    padding: 10px;
    margin: 50px;
}

.projects p {
    margin: 20px;
    text-align: inline;
    color: ivory;
}

.gameheaders {
    text-align: center;
    font-family: 'Megrim', cursive;
    font-size: 40px;
    color: ivory;
    padding: 20px 0;
}
